<!--@subject Passwort für {{var customer.name}} zurücksetzen @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hallo {{htmlescape var=$customer.name}},</h1>
            <p>unser Shop hat eine Anfrage erhalten, dass Ihr Passwort zurückgesetzt werden soll.</p>
            <p>Falls Sie Ihr Passwort ändern möchten, klicken Sie bitte auf den folgenden Link: </p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}"><span>Reset Password</span></a>
                    </td>
                </tr>
            </table>
            <p>Falls der Link nicht funktioniert, kopieren Sie bitte den Link und fügen Sie Ihn direkt in die Adresszeile Ihres Browsers ein.</p>
            <p>Falls Sie Ihr Passwort nicht zurücksetzen möchten, ignorieren Sie bitte diese Nachricht. Ihr Passwort wird dann nicht zurückgesetzt. Bei Fragen wenden Sie sich bitte direkt an uns!</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}