<!--@subject Bitte das Benutzerkonto für {{var customer.name}} bestätigen! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{block type="cms/block" block_id="email_template_say_hello"}} {{htmlescape var=$customer.name}}</h1>
            <p>Ihre E-Mail-Adresse {{var customer.email}} muss bestätigt werden, bevor Sie sich damit in unserem Online-Shop anmelden können.</p>
            <p>Um die E-Mail-Adresse zu bestätigen und sich gleichzeitig anzumelden, klicken Sie bitte auf den folgenden Bestätigungslink (dieser Link ist nur einmal gültig):</p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}"><span>Confirm Account</span></a>
                    </td>
                </tr>
            </table>
            <p>
                {{block type="cms/block" block_id="email_template_contact"}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
