<!--@subject Willkommen, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{block type="cms/block" block_id="email_template_say_hello"}} {{htmlescape var=$customer.name}}</h1>
            <p>Herzlich Willkommen bei {{var store.getFrontendName()}}.</p>
            <p>Um sich bei Ihrem nächsten Besuch in unserem Online-Shop anzumelden, klicken Sie einfach auf <a href="{{store url="customer/account/"}}">Anmelden</a> oder <a href="{{store url="customer/account/"}}">Mein Benutzerkonto</a> im oberen Bereich jeder Seite, und geben Sie Ihre E-Mail-Adresse und Passwort ein.</p>
            <p>Nach erfolgreichem Login auf unserer Seite haben Sie die folgenden Möglichkeiten:</p>
            <ul>
                <li>Schnellerer Bezahlvorgang beim nächsten Einkauf</li>
                <li>Den Status laufender Bestellungen einsehen</li>
                <li>Bestellverlauf einsehen</li>
                <li>Verwalten Ihrer Kundendaten</li>
                <li>Ihr Passwort ändern</li>
                <li>Verschiedene Adressen für den Versand an Ihre Kunden und Niederlassungen sowie Rechnungsadressen speichern</li>
            </ul>
            <p>
                {{block type="cms/block" block_id="email_template_contact"}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
