<!--@subject Neues Passwort für {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$user.password":"Admin New Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{block type="cms/block" block_id="email_template_say_hello"}} {{htmlescape var=$user.name}}</h1>
            <p><strong>Ihr neues Passwort lautet:</strong> {{htmlescape var=$user.password}}</p>
            <p>Sie können das Passwort jederzeit ändern, wenn Sie sich in <a href="{{store url="adminhtml/system_account/"}}">Ihrem Konto</a> anmelden.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
