<!--@subject Bitte Newsletter-Abonnement bestätigen @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Vielen Dank, dass Sie unseren Newsletter abonniert haben.</h1>
            <p>Damit Ihnen der Newsletter zugestellt wird, müssen Sie Ihr Abonnement erst noch bestätigen. Klicken Sie dazu auf den folgenden Link:</p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{var subscriber.getConfirmationLink()}}"><span>Newsletter-Abonnement bestätigen</span></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
