<!--@subject {{var store.getFrontendName()}}: Ihr Passwort oder Email wurde geändert @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"var customer.is_change_email":"Customer Flag Email Change",
"var customer.is_change_password":"Customer Flag Password Change",
"htmlescape var=$customer.name":"Customer Name"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hallo {{htmlescape var=$customer.name}},</h1>
            {{if customer.is_change_password}}
            <p>Sie haben das Passwort Ihres {{var store.getFrontendName()}} - Kontos erfolgreich aktualisiert.</p>
            {{/if}}
            {{if customer.is_change_email}}
            <br>Sie haben die E-Mail Adresse Ihres {{var store.getFrontendName()}}-Kontos erfolgreich aktualisiert.<br />
            <strong>Ihre neue E-Mail Adresse lautet:</strong> {{var customer.email}}</p>
            {{/if}}
            <p>Sofern Sie das Passwort nicht selbst geändert haben, setzen Sie sich bitte mit uns{{depend store_phone}} unter <a href="tel:{{var store_phone}}">{{var store_phone}}</a>{{/depend}} in Verbindung.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
