<!--@subject {{var store.getFrontendName()}}: Rechnungskorrektur Nr. {{var creditmemo.increment_id}} für Bestellung Nr.  {{var order.increment_id}} aktualisiert @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$billing.getName()":"Guest Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",

"var comment":"Credit Memo Comment",
"var store.getFrontendName()":"Store Name"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>{{block type="cms/block" block_id="email_template_say_hello"}} {{htmlescape var=$billing.getName()}}</h1>
                        <p>Ihre Bestellung <span class="no-link">Nr. {{var order.increment_id}}</span> wurde aktualisiert auf: <strong>{{var order.getStatusLabel()}}</strong></p>
                        {{if comment}}
                        <table cellspacing="0" cellpadding="0" class="message-container">
                            <tr>
                                <td>{{var comment}}</td>
                            </tr>
                        </table>
                        {{/if}}

                        <p>
                            {{block type="cms/block" block_id="email_template_contact"}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
