<?xml version="1.0"?>
<!--
/**
 * @category German
 * @package German_LocalePack
 * @authors Rico Neitzel <rico@buro71a.de, http://www.buro71a.de/>
 * @developer Rico Neitzel <rico@buro71a.de, http://www.buro71a.de/>   
 * @version 1.9.0.0.0
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)  
 */
 -->
<config>
	<modules>
		<German_LocalePackCh>
			<version>1.8.1.0.0</version>
		</German_LocalePackCh>
	</modules>
	
	<global>
		<models>
			<localepackch>
				<class>German_LocalePackCh_Model</class>
			</localepackch>
		</models>
		<helpers>
			<localepackch>
				<class>German_LocalePackCh_Helper</class>
			</localepackch>
		</helpers>
        <blocks>
            <localepackch>
                <class>German_LocalePackCh_Block</class>
            </localepackch>
        </blocks>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <german_localepackch>
                        <class>localepackch/observer</class>
                        <method>adminhtmlControllerActionPredispatchStart</method>
                    </german_localepackch>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>

    </global>
	
    <adminhtml>
        <layout>
            <updates>
                <localepackch>
                    <file>localepackch.xml</file>
                </localepackch>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <localepackch translate="title" module="localepackch">
                                            <title>Locale Pack DE (CH)</title>
                                        </localepackch>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>