<?xml version="1.0"?>
<!--
/**
 * @category German
 * @package German_LocalePack
 * @authors Rico Neitzel <rico@buro71a.de, http://www.buro71a.de/>
 * @developer Rico Neitzel <rico@buro71a.de, http://www.buro71a.de/>   
 * @version 1.9.0.1.0
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)  
 */
 -->
<config>
    <modules>
        <German_LocalePackDe>
            <version>1.9.0.1.0</version>
        </German_LocalePackDe>
    </modules>

    <global>
        <models>
            <localepackde>
                <class>German_LocalePackDe_Model</class>
            </localepackde>
        </models>
        <helpers>
            <localepackde>
                <class>German_LocalePackDe_Helper</class>
            </localepackde>
        </helpers>
        <blocks>
            <localepackde>
                <class>German_LocalePackDe_Block</class>
            </localepackde>
        </blocks>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <german_localepackde>
                        <class>localepackde/observer</class>
                        <method>adminhtmlControllerActionPredispatchStart</method>
                    </german_localepackde>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>

    </global>

    <adminhtml>
        <layout>
            <updates>
                <localepackde>
                    <file>localepackde.xml</file>
                </localepackde>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <localepackde translate="title" module="localepackde">
                                            <title>Locale Pack DE</title>
                                        </localepackde>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>
