<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category German
 * @package German_LocalePack
 * @authors Daniel Sasse <info@golox-web.de, http://www.golox-web.de/> - Rico Neitzel <rico@buro71a.de, http://www.buro71a.de/>
 * @developer Daniel Sasse <info@golox-web.de, http://www.golox-web.de/> - Rico Neitzel <rico@buro71a.de, http://www.buro71a.de/>   
 * @version 1.6.x
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)  
 */
 -->
<config>
    <tabs>
        <localepacks translate="label">
            <label>Locale Packs</label>
            <sort_order>150</sort_order>
        </localepacks>
    </tabs>
    <sections>
		<localepackde>
			<label>Locale de_DE</label>
			<sort_order>10</sort_order>
			<tab>localepacks</tab>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<general translate="label">
                    <label>Deutsches Sprachpaket de_DE - Community Edition (CE)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[
						  <p><strong>Das Sprachpaket de_DE in der Version 1.6.x wurde erfolgreich installiert.</strong></p>
						  
						  <p>Auf der <a href="http://www.magentocommerce.com/magento-connect/Rico+Neitzel/extension/413/magento-community-modules--german-germany-language-pack" target="_blank">Extension Homepage des deutschen Sprachpakets</a> finden Sie weitere Informationen zu aktuellen Versionen.</p>
						  <br />
						  <p>Für Interessierte steht ein <a href="https://github.com/dsdata/German_LocalePack_de_DE" target="_blank">GitHub Repository</a> zur Verfügung. Es ist für die folgenden Zwecke vorgesehen:</p>
						  <ul>
							<li>- Entwicklung aktueller Sprachpaket Versionen</li>
							<li>- Fehler melden / Patches einsenden, auch gerne für bereits veröffentlichte Releases</li>
							<li>- Alternative Downloads (unabhängig der offiziellen Quellen)</li>
							<li>- Kopieren / Forken für eigene Zwecke</li>
							<li>- Aktives mitwirken am Sprachpaket</li>
							<li>- Vorschauversionen ansehen & testen</li>
						  </ul>
						  <br />
						  <p>Beachten Sie für detailierte Inormationen die README Datei auf der GitHub Seite.</p>
						  <p><b>Um Magento flächendeckend übersetzen zu können, beachten Sie bitte auch die Infos in den unteren Bereichen!</b></p>
						  <p>&nbsp;</p>
						  <p>powered by <a href="http://www.magentocommerce.com/magento-connect/developer/Rico+Neitzel" target="_blank">Rico Neitzel</a> & <a href="http://www.magentocommerce.com/boards/member/81115/" target="_blank">Daniel Sasse</a></p>
						  
					]]></comment>
				</general>
				<mcm translate="label">
                    <label>Magento Connect Manager übersetzen</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<comment><![CDATA[
						<p style="font-weight: bold;">Um die Übersetzung für den Magento Connect Manager zu installieren gehen Sie bitte wie folgt vor:</p>
						
						<ul>
							<li>1. Begeben Sie sich in das Hauptverzeichnis Ihrer Magento Instanz</li>
							<li>2. Im Unterverzeichnis /downloader den Ordner "template" umbenennen in "template_original"</li>
							<li>3. Das Verzeichnis "template_de" bzw. ab Magento 1.5.x "template_de_1.5" wird umbenannt zu "template"</li>
						</ul>
						<p>Der Magento Connect Manager sollte jetzt auf deutsch umgestellt sein.</p>
						<p>&nbsp;</p>
						<p><span style="font-weight: bold; color:red;">Bitte beachten:</span> Wenn Magento aktualisiert wird, insbesondere "Mage_Downloader", dann werden die Einstellungen des Connect Managers überschrieben!<br />Gleiches gilt auch für den TinyMCE-Editor. Führen Sie in dem Fall ein Reinstall des Sprachpakets durch und machen die geschilderten Schritte noch einmal.</p>
					
					]]></comment>
                </mcm>	
                
                <attributes translate="label">
                    <label>Magento Standard-Attribute übersetzen</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<comment><![CDATA[
						<p style="font-weight: bold;">Viele Magento Attribute können mit den Sprachdateien alleine nicht übersetzt werden!<br />Um diese Attribute (vor allem im Backend) übersetzen zu können, gehen Sie bitte wie folgt vor:</p>

						<p>Unter app/locale/de_DE befindet sich ein neuer Ordner "sql_translation", in diesem 2 Dateien "attributes.sql" & "attributes_default"</p>
						
						<p><b>Installation</b></p>
						<p>Die Datei "attributes.sql" ist dafür da, direkt in die Magento-Datenbank importiert zu werden.<br />Alternativ dazu kann man aber auch den kompletten Inhalt der Datei kopieren und als SQL-Statement direkt in der Datenbank ausführen.</p>
						
						<p><b>Wichtig - bei Verwendung von Datenbank Prefixen</b></p>
						<p>Wenn jemand eine Datenbank einsetzt die Prefixe benutzt, dann bitte wie in der Datei "app/locale/de_DE/sql_translation/attributes.sql" beschrieben verfahren!</p>
						<p>Die SQL Datei und deren Inhalt können selbstverständlich nur die reinen Magento Tabellennamen in der Datenbank berücksichtigen.</p>
						<p>&nbsp</p>
						<p><span style="color:red; font-weight: bold;">Hinweis:</span> Mit der Datei "attributes_default.sql" kann man die Veränderung bei Bedarf wieder auf den en_US Standard Wert zurücksetzen.</p>

					]]></comment>
					<!--coming soon!-->
					<!--<fields>
						<install translate="label">	
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_store</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </install>
                	</fields>-->
                </attributes>	

				<tinymce_editor translate="label">
                    <label>TinyMCE Backend-Editor übersetzen</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<comment><![CDATA[
						<p style="font-weight: bold;">Standardmäßig wird mit Magento nur eine englische Version des <a href="http://www.tinymce.com/" target="_blank">TinyMCE</a> Editors ausgeliefert.<br />Es ist aber nach Installation des de_DE Sprachpakets möglich diesen auf deutsch umzustellen.</p>  
						<p>Um für Backend Administratoren, Redakteure & Anwender eine recht stabile Übersetzung für die Arbeit mit CMS-Seiten, Statischen Blöcken, Artikelbeschreibungen, Widgets & Variablen für den Editor realisieren zu können, werden die von der TynyMCE Community bereit gestellten Sprachdateien mit ausgeliefert.</p>
						<p>Damit Sie nun nicht jede einzelne Sprachdatei in jedes PlugInn Verzeichnis vom TinyMCE Editor kopieren müssen, verfahren Sie am besten wie folgt:</br>
						- /js/tinymce - umbenennen in "tinymce_original"<br />- /js/tinymce_german - umbenennen in "tynymce" (ab jetzt sollte Ihr Editor auf deutsch bereit stehen)</p>
						<p>Wenn Sie nun noch die Buttons für das Einfügen von Variablen bzw. Widgets auf deutsch haben wollen, ist noch nötig 4 Datein umzubenennen:</p>
						<ul>
						<li><b>Button - Variable Einfügen</b></li>
						<li>- /js/mage/adminhtml/wysiwyg/tiny_mce/plugins/magentovariable/editor_plugin.js - umbenennen zu "editor_plugin_original.js"</li>
						<li>Im gleichen Verzeichnis "editor_plugin_de.js" - umbenennen zu "editor_plugin.js"</li>
						<li><b>Button - Widget Einfügen</b></li>
						<li>- /js/mage/adminhtml/wysiwyg/tiny_mce/plugins/magentowidget/editor_plugin.js - umbenennen zu "editor_plugin_original.js"</li>
						<li>Im gleichen Verzeichnis "editor_plugin_de.js" - umbenennen zu "editor_plugin.js"</li>
						</ul>
						<p>Beide Buttons sollten nun auch beim drüber fahren mit der Maus auf deutsch angezeigt werden - wenn nicht dann Caches löschen / aktualsieren!</p>
						<p>&nbsp</p>
						<p><span style="font-weight: bold; color:red;">Bitte beachten:</span> Wenn Sie Magento aktualisieren, insbesondere "Lib_Js_TinyMCE", dann werden die Einstellungen des Editors überschrieben!<br />Gleiches gilt auch für den Connect-Manager. Führen Sie in dem Fall ein Reinstall des Sprachpakets durch und machen die geschilderten Schritte noch einmal.</p>
					]]></comment>
                </tinymce_editor>	
				
				<address_templates translate="label">
                    <label>Adressformat en_US für de_DE anpassen</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<comment><![CDATA[
						<p style="font-weight: bold;">Magento verwendet standardmäßig ein englisches Adressformat zur Darstellung von Kundendaten. <br />Dieses führt oft zu Verwirrungen bei Einsatz in Deutschland.</p>
						<p>Lösung:.... Noch in Arbeit!</p>
					]]></comment>
                </address_templates>	

				<tipps_translation translate="label">
                    <label>Eigene Übersetzungen nutzen</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<comment><![CDATA[
						<p style="font-weight: bold;">Es ist möglich eigene vom Standard abweichende Übersetzungen einzusetzen. Beachten Sie die folgenden Punkte / Tipps zum Thema:</p>
						<br />
						<p><b>Nutzen der Inline-Übersetzung</b></p>
						<ul>
							<li>1. System->Cache-Verwaltung, sicherstellen das mindestens der Übersetzungscache deaktiviert ist - besser alle!</li>
							<li>2. System->Konfiguration->ERWEITERT->Entwickleroptionen->Inline übersetzen</li>
							<li>3. Je nach Auswahl werden nun im Front oder Backend an übersetzbaren Textbereichen kleine Bücher angezeigt,<br />nach einem Klick darauf öffnet sich dann ein Dialog indem man wahlweise global oder nur für die aktuelle StoreView<br >eigene Übersetzungen abspeichern kann.</li>
						</ul><br />
						<p>Die Übersetzungen werden dabei in der Datenbank Tabelle "core_translate" abgespeichert und nicht in einer Datei.</p>
						<p>So lange sich der entsprechende String an sich nicht ändert, zum Beispiel "Price" würde zu "price" hat man mit diesem<br />Verfahren eine recht updatesichere Möglichkeit eigene Übersetzungen einzupflegen.</p>
						<p>Selbst wenn sich ein solcher Sprachstring jetzt mal ändert und eine Übersetzung für einen String nicht mehr korrekt greift, <br />die eigenen Übersetzungen werden nicht von Magento gelöscht aus der Tabelle "core_translate". <br />Sie können also exportiert & weiter verarbeitet und verwendet werden.</p>
					    <br />
						</hr>
						<p><b>Übersetzungen auf Dateiebene</b></p>
						<p>Wenn die CSV Dateien die mit dem Sprachpaket de_DE ausgeliefert werden händisch angepasst werden,<br />dann gehen die gemachten Veränderungen beim nächsten Update des Sprachpakets verloren!</p>
					    <p>Wir raten daher vor dieser Methode ab!!!</p> 
						<br />
						<p><i>Welche CSV Dateien sollten nach Möglichkeit nicht angepasst werden?</i></p>
						<ul>
							<li>1. /app/locale/de_DE...</li>
							<li>2. /app/design/frontend/default/default/locale/de_DE/translate.csv</li>
							<li>3. /app/design/adminhtml/default/default/locale/de_DE/translate.csv</li>
						</ul><br />
						<p>Wenn Sie trotzdem eigene Übersetzungen per CSV Dateien nutzen möchten:</p>
						<ul>
							<li>1. Anlage eines eigenen Themes samt Übersetzungsdatei "/app/design/frontend/default/mein_theme/locale/de_DE/translate.csv"</li>
							<li>2. Im Magento Backend bestimmen das diese Übersetzung verwendet werden soll: System->Konfiguration->ALLGEMEIN->Gestaltung->Themes->Übersetzungen "mein_theme" eintragen.</li>
						</ul>
						<br/>
						<p><b>Wichtig:</b> Der eingesetzte Editor sollte die CSV Datei mit der Zeichenkodierung UTF-8 (ohne BOM) speichern können!</p>
					]]></comment>
                </tipps_translation>	
			</groups>
		</localepackde>
    </sections>
</config>
