{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Zahlungs-Transaktion fehlgeschlagen Erinnerung @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
        <tr>
            <th>Zahlungs-Transaktion fehlgeschlagen.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Grund</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Checkout Art</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Kunde:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Artikel</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Gesamtsumme:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Rechnungsadresse:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Versandadresse</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Versandart:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Zahlungsart:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Datum & Zeit</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>